@font-face {
    font-style: normal;
    font-weight: normal;
    font-family: 'ReklameScript';
    src: local('ReklameScript'), url("../font/ReklameScript.otf") format('truetype');
}

.wb-logo {
    font-family: 'ReklameScript', sans-serif !important;
    color: #007fff;
}

.wb-logo-white {
    color: white;
}

.wb-logo-big {
    font-size: 9rem !important;
}

.wb-logo-small {
    font-size: 2em;
    color: #ffffff;
    font-weight: 300;
    text-decoration: none !important;
}
